<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" name="postTitle" class="form-control">
        <label for="">post</label>
        <textarea name="postBody" id="" cols="30" rows="5" class="form-control"></textarea>
    </div>
    <div class="submit">
        <button type="submit"  id="myBtn" class="btn btn-primary">Publish</button>
    </div>
</form>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
<script>
document.addEventListener('keypress',(e)=>
{
    console.log(e);
    if(e.key === 'Enter')
    {
        console.log(e.preventDefault());
        document.getElementById('myBtn').click();
    }
})
</script>
</body>
</html>
